.settings-container {
    width: 100%;
    max-width: 800px;
    margin: 100px auto;
    padding: 2rem;
    background-color: var(--modal-bg);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: var(--text-color);
}

.settings-container h1 {
    font-weight: bold;
}

.settings-section h2 {
    border-bottom: 2px solid var(--header-border);
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.setting-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
}

.setting-item label {
    font-size: 1.1rem;
}

.setting-item select {
    padding: 8px 16px;
    border-radius: 5px;
    outline-color: #2196F3;
    background-color: var(--input-bg);
    color: var(--text-color);
    border: 1px solid var(--input-border);
}

/* The switch - adapted from W3Schools */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--switch-bg);
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: var(--switch-slider);
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: var(--switch-checked-bg);
}

input:focus+.slider {
    box-shadow: 0 0 1px var(--switch-checked-bg);
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

/* Responsive area */
@media (max-width: 600px) {
    .settings-container {
        width: 92%;
    }

    .settings-container h1 {
        margin: 0.5rem auto;
    }

    .settings-section h2 {
        margin: 1.3rem auto;
    }
}